@model ManagerDesk.ViewModels.RestaurantViewModel
@{
    var selectTimeZones = new List<SelectListItem>();
    foreach(var timezone in TimeZoneInfo.GetSystemTimeZones())
    {
        selectTimeZones.Add(new SelectListItem { Text = timezone.DisplayName, Value = timezone.Id });
    }
}

@*<div class="row">
    <div class="col-md-6 col-lg-3">*@
        <div class="info-item animated fadeIn js-rest-form" data-itemid="@Model.Id">
            @using (Html.BeginForm("EditRest", "Restaurant", FormMethod.Post, new { enctype = "multipart/form-data", id="EditRestForm" }))
            {
                @Html.AntiForgeryToken()

                <h3 class="info-item-heading">Ресторан</h3>

                @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
                @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control js-name", placeholder = "Название" } })

                @Html.ValidationMessageFor(model => model.Address, "", new { @class = "text-danger" })
                @Html.EditorFor(model => model.Address, new { htmlAttributes = new { @class = "form-control js-address", placeholder = "Адрес" } })

                @Html.DropDownListFor(o => o.TimeZoneId, selectTimeZones,  new { @class = "form-control "})

                @Html.EditorFor(model => model.Code, new { htmlAttributes = new { @class = "form-control js-code", @readonly = "readonly", placeholder = "Код" } })

                @Html.ValidationMessageFor(model => model.Latitude, "", new { @class = "text-danger" })
                @Html.EditorFor(model => model.Latitude, new { htmlAttributes = new { @class = "form-control js-lat", placeholder = "Широта" } })

                @Html.ValidationMessageFor(model => model.Longitude, "", new { @class = "text-danger" })
                @Html.EditorFor(model => model.Longitude, new { htmlAttributes = new { @class = "form-control js-long", placeholder = "Долгота" } })

                @Html.TextAreaFor(model => model.Description, new { @class = "form-control js-description", placeholder = "Описание" })

                <button class="btn btn-save-dishes js-save-rest" type="submit">Сохранить</button>

                @Html.HiddenFor(o => o.Id)
                @Html.HiddenFor(o => o.Menu)
                @Html.HiddenFor(o => o.QueueNumber)
            }
        </div>
    @*</div>
</div>*@
