@model ManagerDesk.ViewModels.DishViewModel
<div class="col-md-6 col-lg-3">
    <div class="info-item js-dish-form" data-itemid="@Model.Id">
        <h3 class="info-item-heading"><input class="form-control js-name" type="text" placeholder="Название" value="@Model.Name"/></h3>
        <h3 class="info-item-heading"><input class="form-control js-slash-name" type="text" placeholder="Слэш название" value="@Model.SlashName"/></h3>
        <h4 class="price-heading"><input class="form-control js-price" type="text" placeholder="Цена" value="@Model.Price"/></h4>
        <div class="dish-description"><input class="form-control js-description" type="text" placeholder="Описание" value="@Model.Description"/></div>
        <a href="#" class="btn btn-save-dishes js-save" data-target="@Url.Action("EditDish","Manager")">Сохранить</a>
    </div>
</div>