@{
    Layout = "~/Templates/MainPageLayout.cshtml";
}

<div class="page-wrapper">
    @Html.Partial("Toolbar", "Manager")
    @Html.Action("Navigation", "Manager")
    <div class="clearfix"></div>
    <section class="info-main">
        <div class="container-fluid js-table-body">
            @Html.Action("AllTables", "Manager")
        </div>
    </section>
    <footer class="footer-bottom">
        <div class="copyright">Designed by Karhouse &copy; 2017</div>
    </footer>
</div> 

@Html.Partial("DeleteModal")
@Html.Partial("AlertModal")

@section scripts
{
    <script src="@Url.Content("~/Assets/Scripts/cookie_manager.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Assets/Scripts/main.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Assets/Scripts/dishform.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Assets/Scripts/dispform.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Assets/Scripts/menuform.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Assets/Scripts/modform.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Assets/Scripts/restform.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Assets/Scripts/libs/equalheights.js")"></script>
}