@model List<ManagerDesk.ViewModels.SelectedDishViewModel>

@foreach (var dish in Model)
{
    <li><a href="#" class="@dish.SelectedStyle js-dish-drop" data-id="@dish.Id">@dish.Name <span class="dish-price">@dish.Price р.</span></a></li>
}
<li><a href="#" class="btn btn-save-dishes js-renew-menu" data-target="@Url.Action("SaveMenu","Manager")">Сохранить</a></li>