@model ManagerDesk.ViewModels.MenuViewModel
 @{
     var dropdownId = "drop" + Model.Id;
  }
<div class="col-md-12 col-lg-6">
    <div class="info-item js-menu-card" data-itemid="@Model.Id" data-moretarget="@Url.Action("MenuMoreDishes","Manager")">
        <h3 class="info-item-heading">@Model.MenuName</h3>
        <div class="dropdown">
            <span class="more-menu-btn dropdown-toggle" type="button" id="@dropdownId" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">+</span>
            <ul class="dropdown-menu" aria-labelledby="@dropdownId">
            </ul>
        </div>
        @if (Model.DishList.Any())
        {
            foreach (var dish in Model.DishList)
            {
                <div class="dish-name">@dish.Name <span class="dish-price">@dish.Price р.</span></div>
            }
        }
        else
        {
            <p>Нажмите + чтобы добавить блюда в меню.</p>
        }
    </div>
</div>