<nav class="navbar-left">
    <ul class="menu">
        <li>
            <div class="profile-item">
                <img alt="image" class="img-circle" src="@Url.Content("~/Assets/Imgs/profile_small.jpg")">
            </div>
        </li>

        <li><a href="#" class="js-table-section active-item" data-target="@Url.Action("AllTables","Manager")"><i class="fa fa-id-card-o"></i>Столики</a></li>
        <li><a href="#" class="js-menu-section" data-target="@Url.Action("AllMenus","Manager")"><i class="fa fa-file-text"></i>Меню</a></li>
        <li><a href="#" class="js-dish-section" data-target="@Url.Action("AllDishes","Manager")"><i class="fa fa-cutlery"></i>Блюда</a></li>
    </ul>
</nav>
<script src="@Url.Content("~/Assets/Scripts/navigation.js")" type="text/javascript"></script>