@model ManagerDesk.ViewModels.RestaurantViewModel

<div class="info-item js-rest-form animated fadeIn" data-itemid="@Model.Id">
    <h3 class="info-item-heading">Ресторан</h3>
    <input class="form-control js-name" type="text" placeholder="Название" value="@Model.Name" />
    <input class="form-control js-address" type="text" placeholder="Адрес" value="@Model.Address" />
    <input class="form-control js-name" type="text" placeholder="Код" value="@Model.Code" />
    <input class="form-control js-table-count" type="number" placeholder="Количество столов" value="@Model.TableCount" />
    <textarea class="form-control js-description" type="text" placeholder="Описание">@Model.Description</textarea>
    <a href="#" class="btn btn-save-dishes js-save-rest" data-target="@Url.Action("EditRest","Manager")">Сохранить</a>
</div>