@model ManagerDesk.ViewModels.RestaurantViewModel
<div class="col-md-6 col-lg-3">
    <div class="info-item js-rest-card" data-target="@Url.Action("EditRestaurant","Manager")" data-itemid="@Model.Id">
        <span class="more-menu-btn"><i class="fa fa-pencil js-eddit-card" aria-hidden="true"></i></span>
        <h3 class="info-item-heading">@Model.Name</h3>
        <h4 class="price-heading">@Model.Address</h4>
        <div class="dish-description">@Model.Description</div>
    </div>
</div>