@model ManagerDesk.ViewModels.TableCardViewModel
<div class="col-md-6 col-lg-3">
    <div class="info-item js-table-card animated fadeIn" data-actionstarget="@Url.Action("TableActions","Manager")" data-itemid="@Model.Id" data-type="Table">
        <div class="table-wrap">

            <div class="toolbar-mini">
                <div class="toolbar-mini__btn dropdown">
                    <span class="dropdown-toggle table-actions" type="button" id="dropdownTableCard" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true"><i class="fa fa-pencil" aria-hidden="true"></i></span>
                    <ul class="dropdown-menu actions-dropdown" aria-labelledby="dropdownTableCard">
                    </ul>
                </div>
                <div class="toolbar-mini__btn toolbar-mini__btn_theme_danger toolbar-delete" data-target="@Url.Action("DeleteItem","Manager")"><i class="fa fa-trash-o" aria-hidden="true"></i></div>
            </div>

            <h3 class="info-item-heading">Стол <span class="table-number">@Model.TableNumber</span></h3>

            @if (Model.CheckNeeded)
            {
                <span class="label label-danger">Счет</span>
            }
            @if (Model.HelpNeeded)
            {
                <span class="label label-warning">Нужна помощь</span>
            }
            @foreach (var dish in Model.Orders)
            {
                <div class="dish-name-item">
                    <span class="dish-name">@dish.DishFromMenu.Name</span><span class="dish-price">@dish.DishFromMenu.Price р.</span>
                    @if (!string.IsNullOrEmpty(dish.Remarks))
                    {
                        <span>@dish.Remarks</span>
                    }
                </div>
            }

        </div>
    </div>
</div>