@model ManagerDesk.ViewModels.TableActionsViewModel


<li><a href="#" class="@Model.OrderProcessedStyle js-order-proc js-action"><i class="fa fa-check" aria-hidden="true" @Model.OrderProcessedIcon></i> Заказ готовится </a></li>
<li><a href="#" class="@Model.HelpNeededStyle js-help-needed js-action"><i class="fa fa-check" aria-hidden="true" @Model.HelpNeededIcon></i> Нужна помощь </a></li>
<li><a href="#" class="@Model.CheckNeededStyle js-check-please js-action"><i class="fa fa-check" aria-hidden="true" @Model.CheckNeededIcon></i> Счет </a></li>

<li><span href="#" class="btn btn-save-dishes js-edit-table-actions" data-target="@Url.Action("TableActions","Manager")">Сохранить</span></li>