@model ManagerDesk.ViewModels.ToolbarViewModel
<header class="header-top">
    <nav class="navbar-top">
        <div class="navbar-left-btn-wrap">
            <div class="navbar-left-btn js-opened"><i class="fa fa-bars"></i></div>
        </div>
        <ul class="toolbar-top">
            <li>
                <div class="active-rest">
                    <label for="sel1">Текущий ресторан:</label>
                    <select class="form-control js-rest-select">
                        @foreach (var rest in Model.AvailableRests)
                        {
                            <option @Model.SelectedOptionStyle(rest.Id) data-objid="@rest.Id">@rest.Name</option>
                        }
                    </select>
                </div>
            </li>
        </ul>
        <a class="config js-config-section" href="#" data-target="@Url.Action("Configuration","Configuration")"><i class="fa fa-wrench"></i> Настройки</a>
        <a class="logout" href="@Url.Action("Logoff","Account")"><i class="fa fa-sign-out"></i> Выйти</a>
    </nav>
</header>
<script src="@Url.Content("~/Assets/Scripts/toolbar.js")" type="text/javascript"></script>