<!DOCTYPE html>
<html lang="ru">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>DinerBot</title>

    <!-- CSS -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800&amp;subset=cyrillic" rel="stylesheet">
    <link rel="stylesheet" href="@Url.Content("~/Assets/libs/bootstrap/css/bootstrap.min.css")">
    <link rel="stylesheet" href="@Url.Content("~/Assets/libs/font-awesome/css/font-awesome.min.css")">
    <link rel="stylesheet" href="@Url.Content("~/Assets/libs/elegant-icons/css/elegant-icons.min.css")">
    <link rel="stylesheet" href="@Url.Content("~/Assets/libs/ionicons/css/ionicons.min.css")">
    <link rel="stylesheet" href="@Url.Content("~/Assets/libs/owl-carousel/owl.carousel.css")">
    <link rel="stylesheet" href="@Url.Content("~/Assets/libs/owl-carousel/owl.theme.css")">
    <link rel="stylesheet" href="@Url.Content("~/Assets/libs/cubeportfolio/css/cubeportfolio.min.css")">
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/Assets/Content/Slick/slick.css")" />
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/Assets/Content/Slick/slick-theme.css")" />
    <link rel="stylesheet" href="@Url.Content("~/Assets/css/style.css")">

</head>

<body data-spy="scroll" data-offset="80">

    <div class="navbar navbar-default navbar-fixed-top menu-top" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#home">DinerBot</a>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="#home">Главная</a></li>
                    <li><a href="#bot">Бот</a></li>
                    <li><a href="#ctrlpan">Панель управления</a></li>
                    <li><a href="#features-section">Преимущества</a></li>
                    <li><a href="#services-section">Функционал</a></li>
                    <li><a href="#pricing-section">Цены</a></li>
                    <li><a href="#contact-section">Контакты</a></li>
                </ul>
            </div>
        </div>
    </div>

    <!-- Top content -->
    <div id="home" class="parallax top-content" data-stellar-background-ratio="0.3">
        <div class="inner-bg">
            <div class="container">
                <div class="row">
                    <div class="col-md-10 col-md-offset-1 top-description">
                        <h2 class="text-center">
                            DinerBot - чат-бот, который изменит ваш ресторан
                        </h2>
                        <p>
                            Наша система поможет вашему ресторану оптимизировать затраты на обслуживание, повысить качество
                            работы с посетителями и сократить время заказа
                        </p>
                        <div class="top-button">
                            <a class="btn btn-top btn-lg" href="#features-section">Подробнее</a>
                            <a class="btn btn-top btn-lg" href="#contact-section">Заказать пробную версию</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="bot" class="features-container">
        <div class="container">
            <div class="row">
                <div class="col-md-12 pricing">
                    <h3>Телеграм-бот</h3>
                    <p></p>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-6 toLeft">
                    <div class="col-sm-6 features-box">
                        <div class="icon">
                            <i class="icon ion-android-happy"></i>
                        </div>
                        <h4>Повысить уровень</h4>
                        <p>
                            Наш чат бот будет знать все о ваших блюдах 
                        </p>
                    </div>
                    <div class="col-sm-6 features-box">
                        <div class="icon">
                            <i class="icon ion-arrow-graph-up-right"></i>
                        </div>
                        <h4>Интеграция с Instagram</h4>
                        <p>
                            Присоединяйте картинки к вашим блюдам и делайте Instagram вашего ресторана более популярным.
                        </p>
                    </div>
                    <div class="col-sm-6 features-box">
                        <div class="icon">
                            <i class="icon ion-android-happy"></i>
                        </div>
                        <h4>Повысить уровень</h4>
                        <p>
                            Наш чат бот будет знать все о ваших блюдах
                        </p>
                    </div>
                    <div class="col-sm-6 features-box">
                        <div class="icon">
                            <i class="icon ion-arrow-graph-up-right"></i>
                        </div>
                        <h4>Увеличить прибыль</h4>
                        <p>
                            Автоматизируя процесс заказа блюд, вы сокращаете время.
                        </p>
                    </div>
                </div>
                <div class="col-lg-6 toIn">
                    <img src="~/Assets/img/iphone_main.png">
                </div>
            </div>
        </div>
    </div>

    <div id="slick-screens-section" class="pricing-container">
        <div class="container">
            <div class="row">
                <div class="col-md-12 pricing">
                    <h3>Скрины</h3>
                    <p></p>
                </div>
            </div>
            <div class="row">
                <div class="slick-screens">
                    <figure class="img-hover">
                        <img src="~/Assets/img/p1.png">
                    </figure>
                    <figure class="img-hover">
                        <img src="~/Assets/img/p2.png">
                    </figure>
                    <figure class="img-hover">
                        <img src="~/Assets/img/p3.png">
                    </figure>
                    <figure class="img-hover">
                        <img src="~/Assets/img/p4.png">
                    </figure>
                    <figure class="img-hover">
                        <img src="~/Assets/img/p5.png">
                    </figure>
                    <figure class="img-hover">
                        <img src="~/Assets/img/p6.png">
                    </figure>
                    <figure class="img-hover">
                        <img src="~/Assets/img/p7.png">
                    </figure>
                    <figure class="img-hover">
                        <img src="~/Assets/img/p8.png">
                    </figure>
                </div>
            </div>
        </div>
    </div>

    <div id="ctrlpan" class="features-container">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 pricing">
                    <h3>Панель управления</h3>
                    <p></p>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-6 toLeft">
                    <img class="pad-img" src="~/Assets/img/ipad_1.jpg">
                </div>
                <div class="col-lg-6 toIn">
                    <div class="col-sm-6 features-box">
                        <div class="icon">
                            <i class="icon ion-android-happy"></i>
                        </div>
                        <h4>Повысить уровень</h4>
                        <p>
                            Наш чат бот будет знать все о ваших блюдах
                        </p>
                    </div>
                    <div class="col-sm-6 features-box">
                        <div class="icon">
                            <i class="icon ion-arrow-graph-up-right"></i>
                        </div>
                        <h4>Интеграция с Instagram</h4>
                        <p>
                            Присоединяйте картинки к вашим блюдам и делайте Instagram вашего ресторана более популярным.
                        </p>
                    </div>
                    <div class="col-sm-6 features-box">
                        <div class="icon">
                            <i class="icon ion-android-happy"></i>
                        </div>
                        <h4>Повысить уровень</h4>
                        <p>
                            Наш чат бот будет знать все о ваших блюдах
                        </p>
                    </div>
                    <div class="col-sm-6 features-box">
                        <div class="icon">
                            <i class="icon ion-arrow-graph-up-right"></i>
                        </div>
                        <h4>Увеличить прибыль</h4>
                        <p>
                            Автоматизируя процесс заказа блюд, вы сокращаете время.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="slick-admin-section" class="pricing-container">
        <div class="container">
            <div class="row">
                <div class="col-md-12 pricing">
                    <h3>Скрины Админки</h3>
                    <p></p>
                </div>
            </div>
            <div class="row">
                <div class="slick-screens-admin">
                    <figure class="img-hover">
                        <img src="~/Assets/img/a1.png">
                    </figure>
                    <figure class="img-hover">
                        <img src="~/Assets/img/a2.png">
                    </figure>
                    <figure class="img-hover">
                        <img src="~/Assets/img/a3.png">
                    </figure>
                    <figure class="img-hover">
                        <img src="~/Assets/img/a4.png">
                    </figure>
                    <figure class="img-hover">
                        <img src="~/Assets/img/a5.png">
                    </figure>
                </div>
            </div>
        </div>
    </div>

    <!-- Features -->
    <div id="features-section" class="features-container">
        <div class="container">
            <div class="row">
                <div class="col-sm-12 features">
                    <h3>Мы предлагаем</h3>
                    <p></p>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-4 features-box">
                    <div class="icon">
                        <i class="icon ion-ios-speedometer"></i>
                    </div>
                    <h4>Ускорить заказ блюда</h4>
                    <p>
                        Используя чат-бота, посетители могут оформлять заказ заранее и без помощи официанта
                    </p>
                </div>
                <div class="col-sm-4 features-box">
                    <div class="icon">
                        <i class="icon ion-android-happy"></i>
                    </div>
                    <h4>Повысить уровень обслуживание</h4>
                    <p>
                        Наш чат бот будет знать все о ваших блюдах и никогда не забудет состав блюд. Может запомнить заказ даже очень большой компании
                        намного лучше любого официанта
                    </p>
                </div>
                <div class="col-sm-4 features-box">
                    <div class="icon">
                        <i class="icon ion-cash"></i>
                    </div>
                    <h4>Сэкономить деньги</h4>
                    <p>
                        Наш чат-бот будет знать все о ваших блюдах и сможет показать и рассказать о них больше чем официант
                    </p>
                </div>
            </div>

            @*<div class="row">
                <div class="col-sm-4 features-box">
                    <div class="icon">
                        <i class="icon ion-gear-a"></i>
                    </div>
                    <h4>Автоматизировать работу ресторана</h4>
                    <p>
                        Вы сможете следить за заказами через чат-бота во всех ваших ресторанах используя только одно решение.
                        Создавайте сколько угодно вариантов меню, добавляйте картинки к блюдам в пару кликов с любого устройства.
                    </p>

                </div>
                <div class="col-sm-4 features-box">
                    <div class="icon">
                        <i class="icon ion-android-person-add"></i>
                    </div>
                    <h4>Повысить лояльность клиентов</h4>
                    <p>
                        Увеличение качества и скорости обслуживания повышает лояльность клиентов к вашему ресторану
                    </p>

                </div>
                <div class="col-sm-4 features-box">
                    <div class="icon">
                        <i class="icon ion-arrow-graph-up-right"></i>
                    </div>
                    <h4>Увеличить прибыль</h4>
                    <p>
                        Автоматизируя процесс заказа блюд, вы сокращаете время на обслуживание посетителей и сокращаете количество необходимиого персонала.
                    </p>
                </div>
            </div>*@
        </div>
    </div>


    <!-- Services -->

    <div id="services-section" class="services-container">
        <div class="container">
            <div class="row">

                <div class="col-sm-12 services">
                    <h3>Функционал</h3>
                    <p></p>
                </div>
            </div>
        </div>


        <div class="container">
            <div class="row">

                <div class="col-lg-6 col-sm-6">
                    <div class="services-icon-wrap clearfix">
                        <div class="left-side-icon">
                            <i class="ion-iphone"></i>

                        </div>
                        <div class="services-text-right">

                            <h5>Чат-бот</h5>
                            <p>
                                Современный телеграм чат-бот обладает множеством функций, позволяет клиенту делать заказ в несколько нажатий,
                                выдает информацию о любом блюде, ускоряет процесс заказа и открывает для посетителя новые возможности.
                            </p>
                        </div>
                    </div>

                    <div class="services-icon-wrap clearfix">
                        <div class="left-side-icon">
                            <i class="ion-ios-monitor"></i>

                        </div>
                        <div class="services-text-right">

                            <h5>Панель управления</h5>
                            <p>
                                Интерактивная администраторская панель взаимодействует с чат-ботом. В ней показывается вся информация
                                о столах, заказах, комментариях и пожеланиях ваших посетителей. В ней вы легко можете в режиме онлайн управлять
                                блюдами которые доступны клиенту, настраивать стоимость и описание блюд и даже информировать клиента о новостях
                                и проходящих акциях.
                            </p>
                        </div>
                    </div>
                </div>

                <div class="col-lg-6 col-sm-6">
                    <div class="services-icon-wrap clearfix">
                        <div class="left-side-icon">
                            <i class="ion-social-buffer"></i>

                        </div>
                        <div class="services-text-right">

                            <h5>Хранение данных</h5>
                            <p>
                                Данные могут хранится на вашем личном сервере и только вы будете иметь доступ к ним. Наша система не требует дорогого в обсулживании оборудования и очень проста в настройке и использовании. Храниние истории заказов позволят вам иметь
                                представление о ваших посетителях, среднем чеке, популярности блюд и многом другом.
                            </p>
                        </div>
                    </div>

                    <div class="services-icon-wrap clearfix">
                        <div class="left-side-icon">
                            <i class="ion-android-call"></i>

                        </div>
                        <div class="services-text-right">

                            <h5>Техническая поддержка</h5>
                            <p>
                                Мы всегда готовы помочь, рассказать как работает наша система, а также устранить все возникающие проблемы.
                                Помимо это мы всегда открыты для предложений по доработке системы и готовы модифицировать ее лично под вас.
                            </p>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>

    <div id="pricing-section" class="pricing-container">
        <div class="container">
            <div class="row">
                <div class="col-md-12 pricing">
                    <h3>Пакеты услуг</h3>
                    <p></p>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6 toLeft">
                    <div class="price-column">
                        <h2>Пробный</h2>
                        <h3><span>Бесплатно</span></h3>
                        <ul>
                            <li>Неограниченый пробный период</li>
                            <li>Доступ ко всему функционалу</li>
                            <li>Ограничение на 10 блюд</li>
                            <li>Возможность переноса всех данных и настроек в полную версию</li>
                            <li>
                                <button type="button" class="btn btn-top btn-lg js-try">Попробовать</button>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-6 toIn">
                    <div class="price-column large">
                        <h2>Стандартный</h2>
                        <h3><span>От</span> 4 990 руб.<span> в месяц</span></h3>
                        <ul>
                            <li>Весь функционал без ограничений</li>
                            <li>Выделенный сервер под вашу компанию</li>
                            <li>Техподдержка 24/7</li>
                            <li>Помощь в настройке и эксплуатации</li>
                            <li>
                                <button type="button" class="btn btn-top btn-lg js-try">Купить</button>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Contact us -->
    <div id="contact-section" class="contact-container">

        <div class="inner-contact">
            <div class="container">
                <div class="row">
                    <div class="col-sm-12 contact">
                        <h3>Контакты</h3>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-8 contact-address contact-about">
                        <p><i class="fa fa-at"></i>info@karhouse.org</p>
                        <p><i class="fa fa-phone"></i>Телефон: +7 (965) 433 62 31</p>
                    </div>
                    <div class="col-sm-4">
                        <button type="button" class="btn btn-top btn-lg js-try">Связать с нами</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="footer2">
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <div class="copyright">
                        Designed by Karhouse &copy;
                        <script type="text/javascript">
                        //<![CDATA[
                        var d = new Date()
                        document.write(d.getFullYear())
                        //]]>
                        </script>
                        <a href="#"></a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="modal" id="MessageModal" role="dialog">
        <div class="modal-dialog modal-md">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close js-close-modal" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Заполните форму и мы с вами свяжемся!</h4>
                </div>
                <form class="form-horizontal col-sm-12">
                    <div class="modal-body">
                        <div class="fields-request">
                            <div class="form-group">
                                <label>Организация</label>
                                <input class="form-control required js-org-name" placeholder="Название вашей организации" data-placement="top" data-trigger="manual" data-content="Must be at least 3 characters long, and must only contain letters." type="text" />
                            </div>
                            <div class="form-group">
                                <label>E-Mail</label>
                                <input class="form-control email js-email" placeholder="email@you.com (по которому мы сможем с вами связаться)" data-placement="top" data-trigger="manual" data-content="Must be a valid e-mail address (user@gmail.com)" type="text">
                            </div>
                            <div class="form-group">
                                <label>Коментарий</label>
                                <textarea class="form-control js-comment" placeholder="Любые ваши пожелания..." data-placement="top" data-trigger="manual"></textarea>
                            </div>
                        </div>
                        <div class="request-success">
                            <h3>Ваша заявка успешно отправлена!</h3>
                        </div>
                    </div>
                </form>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-success pull-right js-send-request" data-target="@Url.Action("NewRequest","Home")">Отправить</button>
                    <button class="btn btn-success pull-right js-spinner"><i class="fa fa-spinner fa-spin"></i></button>
                </div>
            </div>
        </div>
    </div>
    <!-- Javascript -->
    <script src="@Url.Content("~/Assets/js/jquery-1.10.2.min.js")"></script>
    <script src="@Url.Content("~/Assets/libs/bootstrap/js/bootstrap.min.js")"></script>
    <script src="@Url.Content("~/Assets/js/retina-1.1.0.min.js")"></script>
    <script src="@Url.Content("~/Assets/js/jquery.easing.1.3.min.js")"></script>
    <script src="@Url.Content("~/Assets/js/jquery.stellar.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Assets/libs/owl-carousel/owl.carousel.min.js")"></script>
    <script src="@Url.Content("~/Assets/libs/cubeportfolio/js/jquery.cubeportfolio.min.js")"></script>
    <script src="@Url.Content("~/Assets/js/cube.js")"></script>
    <script src="@Url.Content("~/Assets/js/script.js")"></script>
    <script src="@Url.Content("~/Assets/Scripts/Slick/slick.min.js")"></script>
    <script src="@Url.Content("~/Assets/js/main.js")"></script>

</body>

</html>